.rmr-hub-sidebar {
    position: sticky;
    top: 50px;
}

.rmr-hub__title {
    font-weight: bold;
}

.rmr-hub-chevron {
    margin-right: 5px;
    width: 20px;
}

.rmr-hub-resources li {
    display: flex;
}

.rmr-hub-resources li.rmr-hub-current {
    font-weight: bold;
}

.rmr-hub-title {
    margin: 0 !important;
}
