h1.entry-title {
    text-align: center;
}

h2,
h3 {
    margin-top: 3rem !important;
}

code {
    font-family: "JetBrains Mono", Consolas, serif !important;
    font-size: inherit !important;
}

code:before,
code:after {
    content: '`';
}

pre code:before,
pre code:after {
    content: unset;
}

code[class*="language-"],
pre[class*="language-"] {
    font-family: "JetBrains Mono", serif;
}

.comments-area {
    width: auto;
    margin-bottom: 2rem;
}

h3.comment-reply-title {
    margin-top: 0 !important;
}
